
.blue-v {
  background-color: blueviolet;
}

.dark-o {
  background-color: darkorchid;
}

.dark-s{
  background-color: darksalmon;
}

.dark-orange {
  background-color: darkorange;
}

.gold {
  background-color: gold;
}

.snow {
  background-color: snow;
}
