.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
  position: relative;
  right: 325px;
}

#bulbasaur {
  /* your code here */
  position: relative;
  top: 20px;
}

#charmander {
  /* your code here */
  position: relative;
  top: 45px;
}

#squirtle {
  /* your code here */
  position: relative;
  top: 80px;
}

#pikachu {
  /* your code here */
  position: relative;
  top: 155px;
}

#jigglypuff {
  /* your code here */
  position: relative;
  top: 280px;
}
